<div class="jumbotron">
  <p>
    NAME:<input type="text" placeholder="Enter name"  [(ngModel)]="name">
    EMAIL:<input type="text" placeholder="Enter email"  [(ngModel)]="email"><br><br>
    MOBILE NUMBER:<input type="number" min="0" placeholder="Enter Mobile number"  [(ngModel)]="mobile">
    Country:<input type="text"  placeholder="Enter Country" [(ngModel)]="country"><br>
    
  </p>
    <hr>
  <button class="btn btn-primary" (click)="onAdd()">ADD</button>&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="onRead()"> READ</button>&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="onUpdate()">UPDATE</button>&nbsp;&nbsp;
 
  <button class="btn btn-primary" (click)="onDelete()">DELETE</button>
</div>