<div class="jumbotron">
  <p>
    ID:<input type="number" placeholder="ENTER ID" [(ngModel)]="id">NAME:
    <input type="text" placeholder="ENTER NAME" [(ngModel)]="name"><br> AGE:
    <input type="number" placeholder="ENTER AGE" [(ngModel)]="age"><br> COUNTRY:
    <input type="text" placeholder="ENTER COUNTRY" [(ngModel)]="country"><br><br>


    <button class="btn btn-primary" (click)="onAdd()">ADD</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="onRead()">READ</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="onUpdate()">UPDATE</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="onDelete()">DELETE</button>
  </p>
</div>